// Base
@import "base/_variables";
@import "base/_mixins";
@import "base/_reset";

// Layout
@import "layout/_general";
@import "layout/_fonts";
@import "layout/_typography";
@import "layout/_button";
@import "layout/_btn-swiper";
@import "layout/_menu";
@import "layout/_navigation";
@import "layout/_carousel";
@import "layout/_map";

// Page styles
@import "modules/_header";
@import "modules/_tours";
@import "modules/_swiper";
@import "modules/_mountain";
@import "modules/_footer";
@import "modules/_ice";
@import "modules/_cards";
@import "modules/_booking";
@import "modules/_road";
@import "modules/_contacts";
