.booking {
  padding-bottom: 50px;

  &__contacts {
    z-index: 1;
  }

  &__menu{
    background: $text;
    z-index: 99;
  }
  &__container {
    position: relative;
  }
  &__wrapper {
    padding-top: 40px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.08px;
    margin-bottom: 35px;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    @include size(145px, 45px);
    border: 1px solid $text;
    padding: 13px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    margin: 0 15px 30px;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: $text;
    word-wrap: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    letter-spacing: 0.84px;
    &--icon {
      font-size: 22px;
    }
    &--text {
      justify-content: center;
    }
  }
  &__text {
    color: $text;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.84px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  &__subtitle {
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 0.84px;
    margin-bottom: 10px;
  }
  &__travel {
    letter-spacing: 1.08px;
    font-size: 18px;
    color: $text;
    margin-bottom: 10px;
    &--icon {
      margin-right: 10px;
    }
  }
  &__info {
    margin-bottom: 35px;
  }
  &__time {
    text-align: center;
    margin-bottom: 20px;
  }
  &__arrow {
    @include pos($t: 80px);
    font-size: 35px;
    transition: all 0.3s ease;
    color: $text;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  &__prev {
    transform: rotate(180deg);
    left: -50px;
  }
  &__next {
    right: -25px;
  }
  &__slide {
    position: relative;
    // left: -50px;
    &::before {
      @include size(100%, 30px);
      @include pos($t: 0, $l: 0, $z: 50);
      content: "";
      background: #fff;
      transition: all 0.2s;
    }
  }
  &__content {
    display: none;
  }

  &__navigation-menu {
    transform: rotate(360deg);
    writing-mode: horizontal-tb;
    left: 200px;
    padding-top: 25px;
    height: 80px;
    min-height: 80px;
    @media (max-width: 768px) {
      min-height: 100vh;
    }
  }
}

.slick-center {
  &::before {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .booking {
    padding-bottom: 120px;
    &__head{
      display: none;
    }

    &__navigation-social{
      display: none;
    }
    &__travel {
      font-size: 18px;
    }
    &__subtitle {
      font-size: 14px;
    }
    &__time {
      text-align: left;
      margin-bottom: 0;
    }
    &__item {
      margin: 0;
      &:hover {
        background: #007bff;
        .booking__link {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    &__nav {
      justify-content: space-between;
      margin-bottom: 60px;
    }
    &__wrapper {
      padding-top: 110px;
      width: 42%;
      @include pos($t: 0, $r: 0);
    }
    &__content {
      position: relative;
      left: -150px;
      z-index: 100;
      display: block;
    }

    &__navigation {
      @include size(100%, 80px);
      @include pos($pos: fixed, $t: 0);
      &--active {
        background: rgba(8, 36, 51, 0.4);
        transition: all 0.3s ease;
        z-index: 120;
      }
    }
    &__navigation-list {
      margin-right: 90px;
      height: 20px;
      display: inline-block;
    }
    &__menu-link {
      &::before {
        @include size(100%, 1px);
        @include pos($b: -5px, $l: 0, $t: auto);
      }
      &--scroll {
        color: #fff;
        &:hover {
          color: #fff;
        }
        &::before {
          background: #fff;
        }
      }
    }
  }
}
