.ice {
  position: relative;
  padding-bottom: 50px;
  &__info {
    margin-bottom: 40px;
  }
  &__content {
    display: none;
  }
  &__img {
    @include pos($b: 0, $l: 0);
  }
}

@media (min-width: 1024px) {
  .ice {
    padding-bottom: 100px;
    position: relative;
    &__container {
      display: flex;
      
    }
    &__info {
      width: 37%;
      margin-top: 10px;
    }
    &__content {
      @include align($pos: absolute);
      @include size(630px, 100%);
      right: 0;
      display: flex;
      justify-content: center;
    }
    &__item {
      right: 0;
      @include size(33%, 590px);
      margin: 0;
      overflow: hidden;
    position: relative;
      &::before {
        @include size(100%);
        @include pos($t: 0, $l: 0, $z: 10);
        content: "";
        background: rgba(181, 202, 213, 0.6);
        pointer-events: none;
        transition: all .3s ease;
      }
      &:hover{
        &::before{
          background: rgba(181, 202, 213, 0);
        }
      }
    }
  }
}
