.slider {
  &__arrow {
    position: relative;
    margin: 100px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 25px;
  }

  &__item {
    position: relative;
  }

  &__items {
    margin-bottom: 20px;
    height: 450px;
  }

  &__name {
    display: block;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 20px;
    height: 100%;
  }

  &__text {
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__price {
    position: absolute;
    top: 0px;
    right: -25px;
    text-transform: uppercase;
    font-weight: 800;
    background: $button;
    padding: 10px 20px;
  }

  &__img {
    padding-top: 20px;
    margin-bottom: 5px;
  }

  @media (min-width: $mobile) {
    &__item {
      height: 510px;
      width: 90%;
    }
    &__img {
      width: 100%;
    }

    &__price {
      padding: 20px 40px;
    }

    .slider__items {
      height: 500px;
      width: 90%;
    }
  }

  // .swiper-container {
  //   overflow: visible;
  // }
}

.swiper {
  padding-bottom: 50px;
  &__title {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: $text;
    transition: all 0.5s ease;
  }
  &__content {
    position: relative;
    margin-bottom: 25px;
  }
  &__photo {
    @include size(100%, 230px);
    display: block;
  }
  &__img {
    @include size(100%, 230px);
    display: block;
  }
  &__info {
    @include size(100%, 60px);
    padding: 10px 15px 5px 25px;
    @include pos($b: 0, $l: 0, $z: 5);
    background: rgba(8, 36, 51, 0.5);
    &--booking{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__stars{
    display: flex;
  }
  &__star{
    font-size: 20px;
    color: #DCE9F0;
    margin-left: 7px;
    transition: all .3s ease;
    &:hover{
      color: #fff;
    }
  }
  &__name {
    color: $white;
    font-weight: 600;
    letter-spacing: 0.84px;
  }
  &__date {
    color: $white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.06em;
  }
  &__dots {
    @include align(false, true);
    bottom: -20px;
  }
  &__fluid {
    position: relative;
  }
  &__arrows {
    display: none;
  }
}

@media (min-width: 768px) {
  .swiper {
    padding-bottom: 115px;
    &__dots {
      display: none;
    }
    &__arrows {
      @include pos($t: 50%, $l: 0);
      transform: translateY(45px);
      width: 100%;
      z-index: 110;
      display: flex;
      align-items: center;
    }
    &__arrow {
      font-size: 40px;
      transition: all .3s ease;
      &:hover{
        color: #007bff;
      }
    }
    &__prev {
      @include pos($l: 0px);
      transform: rotate(180deg);
    }
    &__next {
      @include pos($r: 0px);
    }
    &__text {
      @include pos($b: -100%, $l: 0);
      @include size(100%, 230px);
      background: rgba(8, 36, 51, 0);
      padding: 30px 50px 30px 25px;
      line-height: 15px;
      font-size: 12px;
      color: $white;
      transition: all .3s ease;
    }
    &__content{
      margin-bottom: 0;
    }
    &__item{
      cursor: pointer;
      &:hover{
        .swiper__text{
          bottom: 0;
          background: rgba(8, 36, 51, 0.76);
        }
      }
    }
  }
}

.swiper__dots .swiper-pagination-bullet {
  @include size(10px);
  line-height: 15px;
  font-size: 14px;
  background: #000;
  z-index: 10;
  margin: 0 5px;
}
