@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?2l9y4r');

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-date:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-fire:before {
  content: "\e905";
}
.icon-footer__facebook:before {
  content: "\e906";
}
.icon-footer__inst:before {
  content: "\e907";
}
.icon-footer__twitter:before {
  content: "\e908";
}
.icon-:before {
  content: "\e909";
}
.icon-inst:before {
  content: "\e90a";
}
.icon-mark:before {
  content: "\e90b";
}
.icon-payment:before {
  content: "\e90c";
}
.icon-peoples:before {
  content: "\e90d";
}
.icon-price:before {
  content: "\e90e";
}
.icon-smile:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-time:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-vector:before {
  content: "\e913";
}
.icon-welcome:before {
  content: "\e914";
}
