* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body,
html {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font: 400 14px $font;
  color: $text;
}

.container-fluid {
  min-width: 320px;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px){
  .container-fluid {
    padding: 0 60px;
  }
}
// Main styles
